* {
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.colonna-menu {
  width: 320px;
  border: 3px solid black;
}

.colonna-gioco {
  margin-top: 50px;
  width: 600px;
  border: 1px solid black;
}

.colonna-gioco-proprietà {
  margin-top: 50px;
  width: 600px;
  border: 1px solid black; 
}

.pedina {
	height: 40px;
  width: 40px;
  position:absolute;
}

.logo-monopoly {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottone-inizia-partita {
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  margin: auto;
  text-align: center;
  position: relative;
  display: block;
  height: 100px;
  width: 300px;
  background-color: red;
  color: white;
  padding: 20px;
  border: 8px solid black;
  font-family: 'BioRhyme', serif;
  font-size: 2vh;
  line-height: center;
  text-transform: uppercase;
  cursor: pointer;
}

.bottone-inizia-partita:hover {
  opacity: 0.8;
}

.interfaccia-gioco {
  display: flex;
  flex-direction: row;
}

.contenitore-tavola {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.tavola {
  max-width: 720px;
  width: 70%;
  max-height: 720px;
  height: 70%; 
  outline: 2px solid black;
  display: grid;
  margin-top: 50px;
}

.tavola-centrale {
  grid-column: 3 / 10;
  grid-row: 3 / 10;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: white;
  font-size: 5vh;
}

.casella-gioco {
  outline: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.casella-gioco img {
  margin: 0;
  width: 100%;
  height: 100%;
  max-width: 10vh;
  max-height: 10vh;
}

.dadi-info {
  margin: 0;
  font-size: medium;
}

.avatar-giocatore {
  border: 2px solid red;
}

.avatar-giocatore .pedina {
  width: 50px;
  height: 50px;
}

